<b:isolate/>
<b:style src="./item.css"/>

<tr class="row row_{selected}" event-click="select">
  <td class="cell cell_name">{name}</td>
  <td class="cell cell_phone">{phone}</td>
  <td class="cell cell_company">{company}</td>
  <td class="cell cell_about">{about}</td>
</tr>
