<b:isolate/>
<b:style>
  .button-panel
  {
    margin: 0 20px 10px;
    font-size: 140%;
  }
</b:style>
<div>
  <div class="button-panel">
    <!--{clickmeButton}--> <!--{showAMagickButton}-->
  </div>
  <!--{list}-->
</div>
