<b:isolate/>
<b:style src="./list.css"/>

<div class="table-wrapper">
  <table class="table">
  <thead>
    <th class="header-cell">{l10n:name}</th>
    <th class="header-cell">{l10n:phone}</th>
    <th class="header-cell">{l10n:company}</th>
    <th class="header-cell">{l10n:about}</th>
  </thead>
  <tbody{childNodesElement}/>
  </table>
</div>
