<b:isolate/>
<b:style src="./list.css"/>

<div class="table-wrapper">
  <table class="table">
  <thead>
    <th class="header-cell">Name</th>
    <th class="header-cell">Phone</th>
    <th class="header-cell">Company</th>
    <th class="header-cell">About</th>
  </thead>
  <tbody{childNodesElement}/>
  </table>
</div>
